.title {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.right {
  display: flex;
  justify-content: end;
}
.boxesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
